<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d[%F:%L][%p]:%m%n</pattern>
		</layout>
	</appender>
	<!-- 单独指定包的日志级别 -->
<!-- 	<logger name="org.springframework" level="DEBUG" />    -->
	<logger name="org.springframework" level="ERROR" />   
	<logger name="com.netflix" level="ERROR" /> 
	<logger name="org.hibernate" level="ERROR" /> 
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>