<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

为了模板更加易用，Thymeleaf还提供了一系列Utility对象（内置于Context中），可以通过#直接访问：</br>

#dates ： java.util.Date的功能方法类。</br>
#calendars : 类似#dates，面向java.util.Calendar</br>
#numbers : 格式化数字的功能方法类</br>
#strings : 字符串对象的功能类，contains,startWiths,prepending/appending等等。</br>
objects: 对objects的功能类操作。</br>
bools: 对布尔值求值的功能方法。</br>
arrays：对数组的功能类方法。</br>
lists: 对lists功能类方法</br>
sets</br>
maps</br>

</body>
</html>