<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d[%F:%L][%p]:%m%n</pattern>
		</encoder>
	</appender>
<!-- 	<logger name="org.springframework" level="ERROR" /> -->
<!-- 	<logger name="com.netflix" level="ERROR" /> -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>